* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Ocupa no mínimo 100% da altura da tela visível */
    min-height: 100vh;
    
    /* Configura o Flexbox vertical */
    display: flex;
    flex-direction: column;
    
    /* Garante que o conteúdo ocupe toda a largura */
    width: 100%;
    
    /* Reseta margens padrão e define fundo e fonte global */
    margin: 0;
    background-color: #F8FAFC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
/*.container-fundo {
    position: relative; 
    
   
    width: 1280px; 
    height: 720px;
    
    /*background-image: url('assets/undf-conecta-home.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    
   
}*/

.portal-tag {
    display: flex;
    align-items: center; /* Alinha o quadradinho no meio da altura do texto */
    gap: 8px;           /* Espaço exato entre o quadradinho e o texto */
    
    font-size: 12px;
    font-weight: 600;
    color: #64748B;     /* Cor do texto em cinza */
    letter-spacing: 0.5px;
}

.texto-tag {
    color: #64748B;
    font-size: 9.6px;
}

.icone-quadrado {
    width: 12px;         /* Largura do quadradinho */
    height: 12px;        /* Altura do quadradinho */
    background-color: #0F2C59; /* Cor azul escuro igual ao Figma */
    border-radius: 3px;  /* Cantos levemente arredondados */
    display: inline-block;
}

.btn-invisivel {
    position: absolute; 
    background: transparent;
    border: none;
    cursor: pointer;
    
}

#btn1 {
    width: 260px;
    height: 210px;
    left: 230px;
    top: 320px;
}

#btn2 {
    width: 260px;
    height: 210px;
    left: 510px;
    top: 320px;
}

#btn3 {
     width: 260px;
    height: 210px;
    left: 790px;
    top: 320px;
}
